body{
    background-image: url("img/White-Background-9B1_ROA1R16.jpg");/*"https://wallpaperbrowse.com/media/images/White-Background-9B1_ROA1R16.jpg"*/
    background-size: cover;
}

.display {
margin-top: 20px;
width: 100%;
text-align-all: center;
}

.btn-default {
    background-color: deeppink;
}

.btn-lg {
    background-color: deeppink;
    width: 25vw;
    height: 25vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-size: 8vh;
}


.center {
    margin: 0 auto;
}

.selected {
    background-color: deepskyblue;
}

th {
    background-color: deeppink;
    border: 1px solid black;
    font-size: 2em;
    text-align: center;
}

td {
    background-color: deepskyblue;
    border: 1px solid black;
    font-size: 1em;
    text-align: center;
}


/* For changing selected indices' color */
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: deepskyblue;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: deepskyblue;
}